/** Stylesheet for documentation files. **/

li {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

code {
	display: block;
	border: thin solid black;
	background-color: beige;
	padding: 1em;
	margin: 1em;
}

samp {
	text-decoration: underline;
}

em {
	border: thin dotted black;
}
