/** Stylesheet for documentation files. **/

li {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

code {
	color: red;
}

samp {
	text-decoration: underline;
}

.diagram {
	border: thin solid black;
}
